.container_main {
  display: flex;
  justify-content: center;
  margin-top: 29px;
  gap: 200px;
}

.container_card {
  display: flex;
  gap: 27px;
}

.container_card_information {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 135.5%;
}

.container_login {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  padding: 18px;
  gap: 17px;
  width: 275px;
  background: #d9d9d9;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}


.container_description_user {
  width: 253px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.container_main_cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.propertis{
  display: flex;
  justify-content:space-between ;
  gap: 10px;
  width: 199px;
  height: 54px;
  background: #D67D7D;
  border-radius: 40px;
}
.container_inicio{
  display: flex;
  gap: 100px;
  justify-content: center;
  margin-top: 10px;
}

.loging_inicio{
  background: #be4848;
  border-radius: 40px;

}
.Aparc_inicio{
  background: #0a0303;
  border-radius: 40px;
  color: white;
}
.diseño_imagen{
  width: 90px;
  height: 82px;
}

.container_contact--description{
  display: flex;
  flex-direction: column;
  background: white; 
}

.title_description{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.container_contacto--description {
  display: flex;
  gap: 200px;
}

.container_presentation{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1.5rem;
  color: white;
  gap: 20px;
}

.container_images--presentation{
  display: flex;
  gap: 15px;
}

.container_logo--presentation{
  width: 200px;
  height: 250px;
  border-radius: 50%;
  border-width: 7px;
  border-style: solid;
  border-color: #3490a7;
}

.logo_navbar{
  color: white !important;
}
